<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
    from django.utils.translation import get_language_bidi
    course_mode_class = course_mode if course_mode else ''
    organization_name = organization_long_name
    full_name = accomplishment_copy_name if get_language_bidi() or not accomplishment_copy_name_en else accomplishment_copy_name_en
    sponsor_name = sponsor_short_name if get_language_bidi() else sponsor_long_name
%>

<main class="accomplishment accomplishment-main">

    <div class="wrapper-accomplishment-rendering">
        <div class="accomplishment-rendering">
            <span class="deco-corner deco-corner-tl"></span>
            <span class="deco-corner deco-corner-tr"></span>
            <span class="deco-corner deco-corner-bl"></span>
            <span class="deco-corner deco-corner-br"></span>

            <div class="row certificate-container">
                <div class="column column-20 authorities">
                    <div class="organization">
                        <img class="platform-logo" src="${logo_src}"
                             alt="${platform_name}">
                    </div>
                    % if organization_logo:
                        <div class="accomplishment-orgs">
                            <h6 class="accomplishment-orgs-title">${_("Brought to you by")}</h6>
                            <ul class="wrapper-orgs list-orgs">
                                <li class="wrapper-organization">
                                    <div class="organization">
                                        <img class="organization-logo"
                                             src="${organization_logo.url}"
                                             alt="${organization_name}'s logo">
                                    </div>
                                    <div class="organization-name">
                                        <p class="signatory-credentials copy copy-micro">
                                            <span class="organization">${organization_name}</span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    % endif
                    % if mode != 'base':
                        <div class="accomplishment-signatories">
                            <div class="wrapper-signatories">
                                <div class="list-signatories">
                                    % if certificate_data:
                                        % for signatory in certificate_data.get('signatories', [])[:3]:
                                            <div class="signatory">
                                                <img class="signatory-signature"
                                                     src="${static.url(signatory['signature_image_path'])}"
                                                     alt="${signatory['name']}">

                                                <h5 class="signatory-name">${signatory['name']}</h5>
                                                <p class="signatory-credentials copy copy-micro">
                                                    <span class="role">${signatory['title']}</span>
                                                    <span class="organization">${signatory['organization']}</span>
                                                </p>
                                            </div>
                                        % endfor
                                    % endif
                                </div>
                            </div>
                        </div>
                    % endif
                </div>

                <div class="column column-80">
                    <div class="accomplishment-type">
                        <div class="certificate-header">
                            <div class="accomplishment-type-label hd-4">${_('CERTIFICATE OF COMPLETION')}</div>
                            <div class="accomplishment-type-label hd-5">${_('This is to certify that')}</div>
                        </div>
                    </div>
                    <div class="wrapper-statement-and-signatories">
                        <div class="accomplishment-statement">
                            <p class="accomplishment-statement-lead">
                                <strong class="accomplishment-recipient hd-1 emphasized">${full_name}</strong>
                                <span class="accomplishment-summary copy copy-lead">${_('Successfully completed')}</span>

                                <span class="accomplishment-course hd-1 emphasized">
                                    <span class="accomplishment-course-name">${accomplishment_copy_course_name}</span>
                                </span>
                            </p>

                            <p class="accomplishment-statement-detail copy copy-lead">${accomplishment_copy_course_description}</p>
                        </div>
                    </div>
                    % if sponsor_logo:
                        <div class="accomplishment-orgs accomplishment-sponsors">
                            <h6 class="accomplishment-orgs-title">${_("In Sponsorship with")}</h6>
                            <ul class="wrapper-orgs list-orgs">
                                <li class="wrapper-organization wrapper-sponsors">
                                    <div class="organization">
                                        <img class="organization-logo"
                                             src="${sponsor_logo.url}"
                                             alt="${sponsor_name}'s log">
                                    </div>
                                    <div class="organization-name">
                                        <p class="signatory-credentials copy copy-micro">
                                            <span class="organization">${sponsor_name}</span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    % endif
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-accomplishment-metadata">
        <div class="accomplishment-metadata">
            <h2 class="accomplishment-metadata-title hd-6">${accomplishment_copy_more_about}</h2>

            <div class="wrapper-metadata">
                <dl class="metadata accomplishment-recipient">
                    <dt class="label sr-only">Awarded to:</dt>
                    <dd class="value copy copy-meta">
                        <span class="recipient-img">
                            <img class="src"
                                 src="/static/certificates/images/demo-user-profile.png"
                                 alt="">
                        </span>
                        <div class="recipient-details">
                            <h3 class="recipient-name">${accomplishment_copy_name}</h3>
                            <p class="recipient-username">@${accomplishment_copy_username}</p>
                        </div>
                    </dd>
                </dl>
                <dl class="metadata accomplishment-id">
                    <dt class="label copy copy-meta">${certificate_id_number_title}
                        :
                    </dt>
                    <dd class="value copy copy-base">${certificate_id_number}</dd>
                </dl>
                <dl class="metadata accomplishment-date">
                    <dt class="label copy copy-meta">${certificate_date_issued_title}</dt>
                    <dd class="value copy copy-base">${certificate_date_issued}</dd>
                </dl>
            </div>
        </div>
    </div>
</main>