## mako
<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
%>
<%page expression_filter="h" />
<%inherit file="_message.html" />

<%block name="pagetitle">${_("Your Student University ID Has Been Saved")}</%block>

<%block name="university_id_success_message">
    <h1 class="valid text-center">${_("Your Student University ID Has Been Saved")}</h1>

    <hr class="horizontal-divider">
    <p>
        ${_('Your student university ID has been successfully '
            'submitted and will be used for your grade records.')}
    </p>

    <p>
        ${_('Should your university coordinator have any comments on '
            'the information you entered, he/she will contact you.')}
    </p>

    <p class="text-center">
        <a href="${reverse('openedx.course_experience.course_home', kwargs={'course_id': course.id})}">
            <strong>${_('View the Course Content')}</strong>
        </a>
    </p>
</%block>
