// Certificate Issue Page
.certificate-issue {

  .preview-certificate {
    @include float(right);

    img {
      @include margin-left(20px);
    }
  }

  p {
    text-align: justify;
  }
}

// Dashboard
body.view-dashboard {
  .course-actions-with-edraak-certificates {
    @include float(right);
  }

  .edraak-issue-certificate {
    @include margin-left(50px);  // Same width as the dropdown cog icon
    padding-top: 8px;
    clear: both;
    text-align: center;
    font-size: 14px;
  }
}
