## mako
<%page expression_filter="h"/>
<%! from django.conf import settings %>
<%! from django.utils.translation import ugettext as _ %>
<%! from openedx.core.djangolib.markup import HTML, Text %>

<%inherit file="../main.html" />

<section class="outside-app">
  <h1>
    ${_('Sorry, we are unable to enroll you in the course.')}
  </h1>
  <p class="text-center">
      ${ message }
  </p>

  <hr />

  <p class="text-center">
    ${Text(_('Please go to {forus_link}, and try again. If the problem persists, please email us at {email}.')).format(
        forus_link=HTML(u'<a href="{url}">{name}</a>').format(
           url=Text(settings.FORUS_BASE_URL),
           name=Text(_('ForUs portal')),
        ),
        email=HTML(u'<a href="mailto:{email}">{email}</a>').format(
            email=Text(settings.TECH_SUPPORT_EMAIL)
        ),
    )}
  </p>
</section>
